
body {
background: url(./Resources/JumpingFinn_CN_takeover_es.jpg) no-repeat scroll center top ;
background-color:#c6eae0;
}
#Fondo{
    background-image: url(./Resources/fondocasa.jpg);
    width: 800px;
    height: 600px;
    position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
  
}
.sonido{
width:150px;
}
.izq{
    background-image: url(./Resources/beemo.gif);
    width: 67px;
    height: 73px;
   position:absolute;
  left: 0%;
  top: 85%;


 transition-property:  right;
  transition-duration: 10s;
  -webkit-transition: right 10s;
  -o-transition-property:  right;
  -o-transition-duration: 10s;
    
 
}

.der{
    background-image: url(./Resources/beemo.gif);
    width: 67px;
    height: 73px;
   position:absolute;
  left: 90%;
  top: 85%;


  transition-property: left;
  transition-duration: 10s;
  -webkit-transition: left 10s;
  -o-transition-property: left;
  -o-transition-duration: 10s;

 
}